
<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h1 class="alert alert-danger text-white">قائمة الطعام</h1>
      <div>
      <div class="row bg-dark text-white">
        <div class="col">
          <span class="p-2">
            <span class="p-2">
              {{total}}
            </span>
          </span>
        </div>
        <div class="col">
          <span class="p-2">
            <span class="p-2">
              {{qty}}
            </span>
          </span> </div>
      </div>

      <div class="card d-flex align-items-center justify-content-center">
        <div class="card-body">
          <div class="p-2"><label   for="menu"> أدخل اسم الطبق:</label>
            <input type="text" name="" id="menu" [(ngModel)]="menuName"></div>
          <table class="table">
            <thead>
              <tr>
                <td> رقم المنتج </td>
                <td> اسم المنتج </td>
                <td> سعر المنتج </td>
                <td> وصف المنتج </td>
                <td> صورة المنتج </td>
                <td> اختر </td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of findMenu(foodmenu)" >
                <td class="align-middle">{{item.id}}</td>
                <td class="align-middle">{{item.name}}</td>
                <td class="align-middle">{{item.price}}</td>
                <td class="align-middle">{{item.description}}</td>
                <td class="align-middle"><img [src]="item.img" alt="" width="100" height="100"></td>
                <td> <input type="checkbox" (change)="sum($event,item.price)"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>